* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    display: flex;
    
}

.container{
    /* width: 100vw;
    height: 80vh; */
    margin: auto;
    min-height: 512px;
    box-shadow: 0px 35px 70px 0px rgb(245, 245, 245), 0px 30px 40px -10px rgb(255, 255, 255);
    background: linear-gradient(180deg,  #ffffff,#84d2ff);
    /* border-radius: 30px; */
}

@media screen and (max-width: 512px) {
    body{
        background: linear-gradient(180deg,  #ffffff,#ffffff);
    }
    .container {
        
        /* width: 100vw; */
        top: 5%;
        height: 100vh;
        /* margin-top: 4em; */
        box-shadow: none;
    }
    .git{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 600px) {
    .contact-container {
        margin-top: 2em;
        width: 95vw;
        height: 90vh;
        border-radius: 30px;
    }
}

.contact-container {
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title {
    margin-top: 30%;
    cursor: default;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #393939;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 495px;
    height: 5px;
    background-color: #232223;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    cursor:text;
}

.contact-inputs:focus {
    border: 2px solif #ff994f;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #a363aa);
}

.contact-left button img {
    height: 15px;
}

.contact-left button:hover {
    background: linear-gradient(270deg, #feac72, #ad75b3);
    cursor: pointer;

}

@media(max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-left-title {
        width: 80vw;
        text-align: center;
    }

    .contact-container hr {
        width: auto;
    }

    .contact-right {
        display: none;
    }
}

.git a img {
    width: 40px;
}

.git {
    height: 20vh;
}

@media screen and (max-width:400px) {
    .sub{
        display: flex;
        margin-left: 5em;
    }
    
}